body{
    background: #b8e2f6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#content {
    background: #89cff0;
    width: 80%;
    margin: auto;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 10px 10px #7bbad8;
}

/* Navigation */
#main-nav a {
    text-decoration: none;
    background: #aa8df6;
    color: black;
    padding: 3px;
    border-radius: 4px;
}

#main-nav a:hover {
    background: #1ac4c4;
}

/* Typography */
h1 {
    color: #1721d5;
}

h2 {
    color: #6531ef;
    font-style: italic;
}

p {
    color: #3b12a6;
}



