body{
    background: #b8e2f6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#content {
    width: 80%;
    margin: auto;
    padding: 5px;
    border-radius: 4px;
}


/* Navigation */
#main-nav a {
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 4px
}

#project-nav a {
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 4px;
}

#main-nav li {
    list-style-type: none;
    text-align: center;
    background: #89cff0;
    margin: 7px;
    padding: 7px;
    border-radius: 4px;
}

#project-nav li {
    list-style-type: none;
    text-align: center;
    background: #89cff0;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}

nav a:hover {
    border-bottom:1px solid darkslateblue;
}


/* Typography */
h1 {
    color: #1721d5;
    text-align: center;
}

h2 {
    color: #6531ef;
    font-style: italic;
    text-align: center;
}

p {
    color: #3b12a6;
    text-align: center;
}


/* Flex */

@media (min-width: 900px) {
    #content ul {
        display: flex;
    }

    #content li {
        flex: 1;
    }

    #project-nav ul {
        display: flex;
    }

    #project-nav li {
        flex: 1;
    }


}



